@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}
  /* General section  */
.container {
    width: 80%;
    max-width: 1320px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-family: 'Merriweather';
    font-weight: 900;
    line-height: normal;
}

.para-discription {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
 /* General section  */


.banner {
    background-image: url('images/Banner\ Image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-top: 36px;

}


.banner {
    border-radius: 16px;
}

.banner-section {
    padding: 160px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.banner .banner-section * {
    margin-top: 20px;
}

.banner .banner-section p {
    text-align: center;
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    line-height: 40px;


}

.banner .banner-section .section-title {
    text-align: center;
    color: #FFF;
    font-size: 70px;
    font-style: normal;
    font-family: 'Merriweather';
    font-weight: 900;
    line-height: 80px;
    padding: auto 220px;
    /* width: 50%; */

}

.offer-content {
    text-align: center;
    margin: 80px auto;


}
/* <!-- offer section start --> */

.offer-content .section-title {
    color: rgb(189, 10, 212);
    align-items: center;
    font-family: Inter;
    line-height: 96px;
    margin-bottom: 20px;
}

.offer-desc {
    color: rgb(70, 6, 143);
    align-items: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.offer-content h3 {
    color: #070211;
    align-items: center;
    font-family: Inter;
    font-size: 36px;
    font-weight: 900;
    line-height: 50px;
    margin-bottom: 30px;
}

.offer-content img {
    width: 500px;
}
/* <!-- offer section End --> */


/* <!-- vector section start --> */
.vector-main {
    display: flex;
    justify-content: space-between;
    border-radius: 12px;

}

#vector .vector-main {
    background-image: url("images/Vectorrr.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#vector .vector-content {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    color: #FFF;
}

#vector .vector-content {
    padding: 180px 100px;
}

.vector-main .vector-title {
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 7.04px;
    width: 446px;
}

button {
    background-color: rgb(214, 5, 5);
    border: 0;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 40px;
    padding: 12px 14px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.vector-main .vector-img {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    justify-content: center;
    padding: 100px 60px;

}

/* vector section end */

/* new-park section start */
.container #new-park .new-park-main {
    justify-content: center;
    text-align: center;
}

#new-park .new-park-main {
    margin: 85px auto;
    height: 482px;
}

#new-park .new-park-main {
    border-radius: 12px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

#new-park .new-park-main .new-park-content {
    align-items: center;
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    padding-top: 80px;


}

.new-park-content span {
    color: #F00;
}

#new-park button {
    background-color: #F00;
    border: 0;
    border-radius: 8px;
    margin-top: 40px;
    padding: 12px 14px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

/* New park section End  */

/* <!-- coming-section start --> */
#coming-section .coming-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.coming-main .text-left h2 {
    font-size: 36px;
    font-style: normal;
    font-family: 'Merriweather';
    font-weight: 900;
    line-height: normal;

}

.coming-main .text-left .coming-para {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

#coming-section .coming-main .text-left {
    width: 500px;
}

.coming-main .text-left span {
    color: rgb(0, 110, 86);
}

#coming-section .text-left * {
    margin-top: 18px;
}

#coming-section .coming-main .coming-img {
    max-width: 400px;
    padding: 25px;
    border: 10px solid #F00;
    border-radius: 600px;
    align-items: center;
    text-align: center
}

#coming-section .coming-img img {
    align-items: center;
    vertical-align: middle;
}

#coming-section .coming-main .text-right {
    margin-left: 50px;
    flex-direction: column;

}

.coming-main .text-right h2 {
    color: #F00;
    font-size: 36px;
    font-style: normal;
    font-family: 'inter';
    font-weight: 900;
    line-height: normal;
    margin-top: 78px;
}

.coming-main .text-right .coming-para {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
}

/* coming soon section end  */

/* holiday section Start  */

.holiday-main {
    justify-content: center;
    margin: 0 auto;
}

.holiday-content {
    padding: 100px 0px;
    text-align: center;

}

.holiday-content h2 {
    font-size: 50px;
}

.holiday-content span {
    color: #F00;
}

.holiday-content p {
    color: rgba(39, 38, 38, 0.8);
    font-family: 'Inter';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.holiday-content .short-para {
    color: #070211;
    font-family: 'Inter';
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 46px;
}

.holiday-content * {
    margin-bottom: 20px;
}


.image-container {
    display: flex;
    justify-content: center;
    max-width: 80%;
    align-items: end;
    margin-bottom: -5px;
}

.image-container img {
    max-width: 465px;
    min-width: 327px;
    display: inline-block;

}

.box-1 {
    position: relative;
    top: 180px;
    left: 150px;


}

.box-2 {
    position: relative;
    left: 12rem;
}

.red-img {
    max-width: 1040px;
}

/* <!-- Holiday section end --> */




.portfolio-content .short-p {
    margin-top: 50px;
    color: rgba(4, 5, 20, 0.6);
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
}
/* portfolio section start  */
.portfolio-content .portfolio-title {
    font-size: 36px;
    font-style: normal;
    font-family: 'Merriweather';
    font-weight: 900;
    line-height: 60px;
}

.portfolio-content .portfolio-para {
    color: rgb(56, 54, 54, 0.8);
    font-size: 15px;
    font-style: normal;
    font-family: 'Merriweather';
    font-weight: 400;
    width: 700px;
    line-height: 25px;
    margin-bottom: 20px;
}


.container .portfolio-main {
    justify-content: center;

}

.images-content {
    display: flex;
    flex-flow: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.images-content .row {
    display: flex;
    flex-direction: row;
}

.images-content .row img {
    width: 338px;
    padding: 12px 15px 0px;
}

.images-content img:hover {
    opacity: 0.7;
    transition: 1s;
}

/* Portfolio section end  */

/* Subscribe section start */
.subscribe-main {
    margin: 60px auto;
    padding: 80px 0px;
    background: rgba(255, 0, 0, 0.05);
}

.subscribe-main .subscribe-content {
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

.subscribe-content img {
    width: 130px;
}

.subscribe-content h2 {
    font-size: 36px;
    font-style: normal;
    font-family: 'Merriweather';
    font-weight: 900;
    line-height: 60px;
}

.subscribe-content p {
    color: rgb(56, 54, 54, 0.8);
    font-size: 15px;
    font-style: normal;
    font-family: 'Merriweather';
    font-weight: 400;
    width: 700px;
    line-height: 25px;
}

.subscribe-main input[type="email"] {
    color: #070211;
    font-family: sans-serif;
    text-align: start;
    font-size: 17px;
    font-style: none;
    font-weight: 500;
    padding: 13px 40px;
    width: 418px;
    border-radius: 21px;
    border: 0;
    outline: #e0034d96;
    background: #FFF;
    ;
    opacity: 0.9;
}


.input-btn {
    text-align: center;

}

.input-btn button {
    text-align: center;
    padding: 15px 20px;
    font-size: 15px;
    border-radius: 3px 22px 22px 0px;
    right: 48px;
    position: relative;
}

/* Subscribe section End  */


footer {
    background: #070211;
}

/* Footer section start */
 .footer-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #FFF;

}

.footer-main .footer-text{
    padding-top: 60px;
  
}
.footer-main hr{
    color: #070211;
    margin-bottom: 38px;
}
.footer-text .text-item .icon-item{
    text-align: center;
    align-items: center;
    padding-top: 50px;
}
.footer-text .text-item .icon-item img{
    width: 30px;
}

.footer-icon{
    display: flex;
    justify-content: center;
}
.footer-icon img{
    padding: 18px;
    width: 58px;
}

.footer-text .footer-icon *{
    padding-top: 20px ;
}
.footer-text{
    margin-bottom: 36px;
}
footer .footer-hr{
    border: black;
}

/* footer section end  */